*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
  margin: 0px;
  padding: 0px;
}

:root {
  --primaryColor1: #495e57;
  --primaryColor2: #f4ce14;
  --secondaryColor1: #333333;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10%;
  padding-bottom: 20px;
}

li{
  list-style: none;
}

nav li{
  display: inline-flex;
  padding: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  width: 100%;
  right: 0;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.mobile-nav-icon {
  display: none;
  cursor: pointer;
}

nav a {
  font-family: "Karla";
  text-decoration: none;
  font-size: 18px;
  color: #495e57;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 10%;
  padding-top: 20px;
}

footer img {
  height: 150px;
  border-radius: 16%;
}

footer h4 {
  font-family: "Karla";
  font-size: 20px;
  font-style: bold;
  color: var(--primaryColor1);
}

footer a {
  font-family: "Karla";
  text-decoration: none;
  font-size: 18px;
  color: var(--secondaryColor1);
}

main{
  height: 1000px;
  background-color: var(--primaryColor1);
}


@media screen and (max-width: 900px){
  .mobile-nav-icon{
    display: block;
  }
  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    z-index: 1000;
    background-color: white;
  }
}




