*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
  margin: 0px;
  padding: 0px;
}

:root {
  --primaryColor1: #495e57;
  --primaryColor2: #f4ce14;
  --secondaryColor1: #333333;
  --secondaryColor2: #EE9972;
  --secondaryColor3: #FBDABB;
  --secondaryColor4: #EDEFEE;
  --normal: 400;
  --med: 500;
  --bold: 700;
  --extra: 800;
}

@font-face {
  font-family: Mark;
  src: url('../public/font/MarkaziText-VariableFont_wght.ttf');
}

@font-face {
  font-family: Karla;
  src: url('../public/font/Karla-VariableFont_wght.ttf');
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10%;
  padding: 20px 0px;
  overflow: hidden;
}

li{
  list-style: none;
}

nav li{
  display: inline-flex;
  padding: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  width: 100%;
  right: 0;
  align-items: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.mobile-nav-icon {
  display: none;
  cursor: pointer;
}

nav a {
  font-family: Karla;
  text-decoration: none;
  font-size: 18px;
  color: #495e57;
  font-weight: var(--normal);
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 10%;
  padding-top: 20px;
}

footer img {
  height: 150px;
  border-radius: 16%;
}

footer h4 {
  font-family: Karla;
  font-size: 20px;
  font-style: bold;
  color: var(--primaryColor1);
  font-weight: var(--normal);
}

footer a {
  font-family: Karla;
  text-decoration: none;
  font-size: 18px;
  color: var(--secondaryColor1);
  font-weight: var(--normal);
}

header{
  background-color: var(--primaryColor1);
}

header section {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2% 10%;
  justify-content: space-between;
  overflow: hidden;
}

.header-img {
  background-image: url(./pictures/restauranfood.jpg);
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
}

.call-to-action {
  display: flex;
  flex-direction: column;
}

.call-to-action p{
  max-width: 65ch;
  font-family: Karla;
  font-size: 18px;
  font-weight: 100;
  color: var(--secondaryColor4);
  margin-top: 50px;
  font-weight: var(--med);
  padding-bottom: 13%;
  overflow-wrap: break-word;
  line-height: 150%;
}

.call-to-action h2 {
  font-family: Mark;
  font-size: 64px;
  color: var(--primaryColor2);
  font-weight: var(--med);
}

.call-to-action h3 {
  font-family: Mark;
  font-size: 40px;
  color: var(--secondaryColor4);
  line-height: 0;
  font-weight: var(--normal);
}

button {
  background-color: var(--primaryColor2);
  color: #333333;
  padding: 5px 5px;
  border-radius: 16px;
  font-family: Karla;
  font-weight: var(--bold);
  cursor: pointer;
  font-size: 18px;
}

.review-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.review-card img{
  border-radius: 50%;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.review-comment p {
  width: 100%;
}


@media screen and (max-width: 1024px){
  .mobile-nav-icon{
    display: block;
  }
  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    z-index: 1000;
    background-color: white;
  }

  .header-img {
    display: none;
  }

  .review-comment{
    display: none;
  }

  .review-comment:first-child{
    display: flex;
  }
}




