*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
  margin: 0px;
  padding: 0px;
}

:root {
  --primaryColor1: #495e57;
  --primaryColor2: #f4ce14;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10%;
  padding-bottom: 20px;
}

li{
  list-style: none;
  padding: 10px;
}

nav li{
  display: inline-flex;
}

nav a {
  font-family: "Karla";
  text-decoration: none;
  font-size: 18px;
  color: #495e57;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 10%;
  padding-top: 20px;
}

footer img {
  height: 150px;
  border-radius: 16%;
}

footer h4 {
  font-family: "Karla";
  font-size: 20px;
  font-style: bold;
  color: var(--primaryColor1);
}

footer a {
  font-family: "Karla";
  text-decoration: none;
  font-size: 18px;
  color: var(--primaryColor1);
}

main{
  height: 1000px;
  background-color: var(--primaryColor1);
}

nav button {
  visibility: hidden;
}

@media only screen and (max-width: 900px){
  nav ul {
    visibility: hidden;
  }
}